<div class="card-container">
  <div class="container">

    <div class="row">
      <div class="col-3">
        <input type="text" class="mx-auto" placeholder="From" [(ngModel)]="searchFrom">
      </div>
      <div class="col-3">
        <input type="text" class="mx-auto" placeholder="To" [(ngModel)]="searchTo">
      </div>
      <div class="col-3">
        <input type="date" class="mx-auto" placeholder="Select The Date" >
      </div>
    </div>
  </div>
</div>

<br>
<br>
<a routerLink="busseats" style="text-decoration: none;">
  <div class="d-flex flex-wrap">
  

    <div *ngFor="let b of (busesdata | search: searchFrom: searchTo)">
      <div class="card m-3 p-3" style="width: 18rem; text-decoration: none;">
        <div class="d-flex justify-content-between">
          <h5 >{{b.busname}}</h5>
          <b >{{b.bustype}}</b>
          <i class="bi bi-bus-front"></i>
        </div>
        <span>{{b.From}}&nbsp;&nbsp;&nbsp; <i class="bi bi-arrow-right"></i> &nbsp;&nbsp;&nbsp;{{b.To}}</span> 
        <span>{{b.starttime}}am&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{b.endtime}}pm</span>
        <span><b>Price:</b>{{b.price}}</span>
      </div>
    </div>
  </div>
</a>
